<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f5234bf2d4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <style>
        .button-container{
            margin-top: 30px;
            justify-content: space-between;
        }
        td>img{
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
<header style="background: #f87502; text-align: center;">
    <h1>관리자페이지</h1>
</header>
<div class="container">
    <div class="button-container d-flex">
        <input type="button" onclick="location.href='/admin/home'" class="btn btn-outline-primary" value="홈">
        <input type="button" class="btn btn-outline-primary" onclick="location.href='/admin/items'" value="상품관리">
        <input type="button" class="btn btn-primary" onclick="location.href='/admin/order/waiting'" value="주문관리">
        <input type="button" class="btn btn-outline-primary" onclick="location.href='/admin/payment'" value="결제수단관리">
        <input type="button" class="btn btn-outline-primary" onclick="location.href='/admin/user'" value="회원관리">
    </div>

    <div class="button-container d-flex" style="width: 300px; margin: 0 auto; margin-top: 30px">
        <input type="button" onclick="location.href='/admin/order/waiting'" class="btn btn-secondary" value="미완료">
        <input type="button" class="btn btn-outline-secondary" onclick="location.href='/admin/order/complete'" value="완료">
    </div>

    <h1 style="margin-top: 30px">주문관리</h1>

    <table class="table table-hover" style="margin-top: 50px">
        <thead>
        <tr>
            <th>주문번호</th>
            <th>구매자</th>
            <th>진행상태</th>
            <th>금액</th>
            <th>배송비</th>
            <th>합계금액</th>
            <th>날짜</th>
            <th>관리</th>
        </tr>
        </thead>
        <tbody>
        <tr>

        </tr>
        </tbody>
    </table>

<!--    아마 여기 아래에 페이징?-->

</div>

<script>
</script>
<footer style="background: #ddd; text-align: center">
    <h1>푸터푸터</h1>
</footer>
</body>
</html>