<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <style>

    </style>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div class="container">
    <div class="button-container d-flex"
         style="width: 600px; justify-content: space-between; margin: 0 auto; margin-top: 100px">
        <input type="button" class="btn btn-outline-primary" onclick="location.href='/mypage'" value="주문 내역">
        <input type="button" class="btn btn-outline-primary" onclick="location.href='/mypage/edit'" value="정보 수정">
        <input type="button" class="btn btn-primary" onclick="location.href='/mypage/delete'" value="회원 탈퇴">
    </div>
    <div style="width: 100%; text-align: center; margin-top: 30px">
        <h3>정말 회원탈퇴 하실건가요?</h3>
        <h5>이것 저것 정말 아쉬워요</h5>
    </div>
    <div class="button-container d-flex" style="width: 400px; margin: 0 auto; justify-content: space-between; align-items: center">
        <input type="button" class="btn btn-lg btn-primary" value="아니오" onclick="location.href='/'">
        <input type="button" class="btn btn-sm btn-outline-secondary" value="예" onclick="location.href='/byebye'">
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>