<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <style>
        .items-img > img {
            width: 200px;
            height: 200px;
            margin: 0 auto;
        }

        .left{
            width: 250px;
        }

        .right{
            width: 750px;
        }

        .left {
            text-align: center;
            align-items: center;
        }

        .left > img {
            width: 360px;
            height: 360px;
        }

        .table-left > div {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
            padding-left: 10px;
            background: #eee;
        }

        .table-right > div {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
            padding-left: 10px;
            min-height: 46px;
        }

        .button-container {
            justify-content: space-between;
            display: flex;
            width: 400px;
            margin: 0 auto;
        }

        .right > div, .left > div {
            height: 50px;
            align-items: flex-start;
            vertical-align: middle;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }

        .left {
            background: #888;
            border-right: 1px solid #000;
        }

        .right {
            background: #ddd;
        }

        .order-container {
            margin-bottom: 10px;
        }


    </style>
    <script>
        $(function () {
            $("#domaintype").on('change', function () {
                var domain = $(this).val();
                if (domain == 'none') {
                    $("#emaildomain").prop('readonly', false);
                } else {
                    $("#emaildomain").prop('readonly', true);
                    $("#emaildomain").val(domain);
                }
            });

            $("#samesame").on('change',function(){
                if($(this).is(':checked')){
                    $("#receivename").val($("#order-name").val());
                    $('#tel1').val($('select[name="tel1"]').val()).change();
                    $('#tel2').val($('input[name="tel2"]').val());
                    $('#tel3').val($('input[name="tel3"]').val());
                }else{
                    console.log('깡통');
                }
            });
                var emaildomainValue = $('#emaildomain').val();

                var selectElement = $('#domaintype');

                var options = selectElement.find('option');

                options.each(function() {
                    var option = $(this);

                    if (option.val() === emaildomainValue) {
                        option.prop('selected', true);
                        return false; // 반복문 종료
                    }
                });

                $('#emaildomain').prop('readonly', true);

        })
    </script>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div class="container">
    <div class="basket-top">
        <h2 style="font-weight: bold">주문/결제</h2>
        <hr/>
        <img src="https://malldemo01.swm.whoismall.com/skin/f_simple/images/shop/order_step02_topimg.gif">
    </div>

    <!--    아래쪽 표는 장바구니통해서 결제하면 여러개 다 나오긴하겠지만, 바로결제는 리스트 공간 하나만 써서 해줘야함-->
    <div class="item-list">
        <h5 style="font-weight: bold">주문 리스트</h5>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" style="width: 100px">상품이미지</th>
                <th style="width: 250px" scope="col">상품정보</th>
                <th style="width: 70px" scope="col">수량</th>
                <th scope="col">상품금액</th>
                <th scope="col">합계</th>
                <th scope="col">배송비</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list ,stat : ${blist}">
                <td style="width: 100px">
                    <img style="width: 100px" th:src="|/${list.img}|" th:alt="${list.items_id}">
                </td>
                <td><a style="color: black" th:href="|/goods/view?no=${list.items_id}|" th:text="${list.name}"></a></td>
                <td th:text="${list.amount}"></td>
                <td th:text="${#numbers.formatInteger(list.price,3,'COMMA')+'원'}">상품금액</td>
                <td th:text="${#numbers.formatInteger(list.price * list.amount,3,'COMMA')+'원'}">합계</td>
                <td th:if="${stat.last}" th:rowspan="${#lists.size(blist)}"
                    th:text="${#numbers.formatInteger(maxDelivery,3,'COMMA')+'원'}">배송비
                </td>
            </tr>
            </tbody>
        </table>

        <h5 style="font-weight: bold">주문자 정보</h5>
        <hr/>
        <div class="order-container d-flex">

            <div class="left" style="width: 250px">
                <div>주문자명</div>
                <div>연락처</div>
                <div>이메일</div>
            </div>
            <div class="right">
                <div><input th:value="${username}" type="text" style="width: 200px" id="order-name" class="form-control form-control-sm" name="order-username"></div>
                <div class="d-flex">
                    <select class="form-select form-select-sm" name="tel1" style="width: 100px">
                        <option value="none">선택</option>
                        <option value="010">010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                        <option value="018">018</option>
                        <option value="019">019</option>
                    </select>
                    &nbsp;-&nbsp;
                    <input class="form-control form-control-sm" style="width: 100px" type="text" name="tel2">
                    &nbsp;-&nbsp;
                    <input class="form-control form-control-sm" type="text" name="tel3" style="width: 100px">
                </div>
                <div class="d-flex">
                    <input type="text" style="width: 200px" name="email1" th:value="${emailid}"
                           class="form-control form-control-sm">
                    &nbsp;@&nbsp;
                    <input type="text" th:value="${emaildomain}" id="emaildomain" name="email2" class="form-control form-control-sm email domain">
                    <select style="width: 200px; margin-left: 5px" id="domaintype" name="domaintype"
                            class="form-select form-select-sm domain">
                        <option value="none">직접입력</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="naver.com">naver.com</option>
                        <option value="daum.net">daum.net</option>
                        <option value="kakao.com">kakao.com</option>
                        <option value="nate.com">nate.com</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="d-flex" style="justify-content: space-between">
            <h5 style="font-weight: bold">배송 정보</h5>
            <label>
                <input type="checkbox" id="samesame" class="form-check-input">
                주문자 정보와 동일
            </label>
        </div>

        <hr/>
        <div class="place-container d-flex">
            <div class="left" style="width: 250px">
                <div>수령인명</div>
                <div>연락처</div>
                <div>배송지 주소</div>
                <div>배송 시 요청사항</div>
            </div>
            <div class="right">
                <div><input type="text" style="width: 200px" class="form-control form-control-sm" id="receivename">
                </div>
                <div class="d-flex">
                    <select class="form-select form-select-sm" id="tel1" style="width: 100px">
                        <option value="none">선택</option>
                        <option value="010">010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                        <option value="018">018</option>
                        <option value="019">019</option>
                    </select>
                    &nbsp;-&nbsp;
                    <input class="form-control form-control-sm" style="width: 100px" type="text" id="tel2">
                    &nbsp;-&nbsp;
                    <input class="form-control form-control-sm" type="text" id="tel3" style="width: 100px">
                </div>
                <div>배송지 주소</div>
                <div>배송 시 요청사항</div>
            </div>
        </div>

        <div class="method-container">

        </div>

        <div class="final-price d-flex">
            <div style="width: 650px; display: flex; align-items: center; font-size: 24px">총 결제 금액</div>
            <div class="price-container-title">
                <div>총 상품 금액</div>
                <div>총 배송비</div>
                <div>총 결제금액</div>
            </div>
            <div class="price-container">
                <div th:text="${#numbers.formatInteger(sumPrice,3,'COMMA')+'원'}"></div>
                <div th:text="${#numbers.formatInteger(maxDelivery,3,'COMMA')+'원'}"></div>
                <div id="totalPrice" th:text="${#numbers.formatInteger(sumPrice+maxDelivery,3,'COMMA')+'원'}"></div>
            </div>
        </div>

        <div th:if="${blist.size()>0}" class="button-container d-flex" style="width: 100%">
            <input style="margin: 0 auto; margin-top: 20px;" type="button" value="결제하기" class="btn btn-primary">
        </div>


    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>