<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.realtwoweek.Mapper.AdminMapper">

    <delete id="deleteItem">
        delete
        from items
        where items_id=#{param1};
    </delete>

    <insert id="InsertItem" parameterType="com.example.realtwoweek.vo.ItemVO">
        insert into items(name, price, delivery, img, seller, category, detail)
        values(#{name}, #{price}, #{delivery}, #{img}, #{seller}, #{category}, #{detail});
    </insert>

    <update id="UpdateItem" parameterType="com.example.realtwoweek.vo.ItemVO">
        update items
        set name=#{name}, price=#{price}, delivery=#{delivery},
            img=#{img}, seller=#{seller}, category=#{category},
            detail=#{detail}
        where items_id=#{items_id};
    </update>

    <select id="getOrderTotalRecord" resultType="Integer">
        select count(idorder)
        from `order`
        where status!=3
    </select>

    <select id="getOrderList" resultType="com.example.realtwoweek.vo.OrderVO">
        select *
        from `order`
        where status!=3
        order by date desc
        limit #{onePageRecord} offset #{offsetPoint};
    </select>

    <update id="orderNextStep">
        update `order`
        set status=status+1
        where orderNum=#{param1};
    </update>

    <select id="getOrderDetail" resultType="com.example.realtwoweek.vo.OrderVO">
        select *
        from `order`
        where orderNum=#{param1}
    </select>

    <select id="getOrderCompleteTotalRecord" resultType="Integer">
        select count(idorder)
        from `order`
        where status=3;
</select>

    <select id="getOrderListComplete" resultType="com.example.realtwoweek.vo.OrderVO">
        select *
        from `order`
        where status=3
        order by date desc
        limit #{onePageRecord} offset #{offsetPoint};
    </select>

</mapper>