<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.realtwoweek.Mapper.AdminMapper">

    <delete id="deleteItem">
        delete
        from items
        where items_id=#{param1};
    </delete>

    <insert id="InsertItem" parameterType="com.example.realtwoweek.vo.ItemVO">
        insert into items(name, price, delivery, img, seller, category, detail)
        values(#{name}, #{price}, #{delivery}, #{img}, #{seller}, #{category}, #{detail});
    </insert>

</mapper>