<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.realtwoweek.Mapper.BasketMapper">

    <insert id="addBasket">
        insert into basket
        values (#{param3}, #{param1}, #{param2});
    </insert>

    <select id="checkBasket" resultType="Integer">
        select count(member_id)
        from basket
        where member_id = #{param2}
          and items_id = #{param1};
    </select>

    <update id="increaseAmount">
        update basket
        set amount=amount + #{param2}
        where member_id = #{param3}
          and items_id = #{param1};
    </update>

    <select id="getAllBasket" resultType="com.example.realtwoweek.vo.BasketVO">
        select b.member_id as member_id,
               b.items_id  as items_id,
               b.amount    as amount,
               i.img       as img,
               i.name      as name,
               i.price     as price,
               i.delivery  as delivery
        from basket b
                 join items i on i.items_id = b.items_id
        where member_id = #{param1};
    </select>

    <update id="SetAmount">
        update basket
        set amount=#{param3}
        where member_id = #{param1}
          and items_id = #{param2};
    </update>

    <delete id="dropItem">
        delete
        from basket
        where member_id = #{param1}
          and items_id = #{param2};
    </delete>

    <select id="getAllMethod" resultType="com.example.realtwoweek.vo.MethodVO">
        select *
        from method;
    </select>

    <select id="getAllMethodDetail" resultType="com.example.realtwoweek.vo.MethodDetailVO">
        select *
        from methoddetail;
    </select>

    <insert id="addNewOrder" parameterType="com.example.realtwoweek.vo.OrderVO"  useGeneratedKeys="true" keyProperty="idorder">
        insert into `order`(orderNum,member_id, status, ordername, orderphonenum, orderemail, receivename, receivephonenum, receiveaddress1, receiveaddress2, receiveaddress3, request, zipno, method, methodDetails)
        values(#{orderNum},#{member_id}, #{status}, #{ordername}, #{orderphonenum}, #{orderemail}, #{receivename}, #{receivephonenum}, #{receiveaddress1}, #{receiveaddress2}, #{receiveaddress3}, #{request}, #{zipno}, #{method}, #{methodDetails});
    </insert>

    <insert id="addItemToOrder">
        insert into orderdetail(order_idorder, items_items_id, amount)
        values(#{param3}, #{param1}, #{param2});
    </insert>

    <update id="setPrice">
        update `order`
        set totalprice=#{param2}, delivery=#{param3}
        where idorder=#{param1}
    </update>
    <select id="getOrderItemList" resultType="com.example.realtwoweek.vo.BasketVO">
select od.items_items_id as items_id,
       od.amount as amount,
       i.img as img,
       i.name as name,
       i.price as price,
       i.delivery as delivery
from orderdetail od
join items i on od.items_items_id = i.items_id
where od.order_idorder=#{param1};
    </select>

    <select id="getOrder" resultType="com.example.realtwoweek.vo.OrderVO">
        select *
        from `order`
        where idorder=#{param1}
    </select>

    <delete id="basketEmpty">
        delete
        from basket
        where member_id=#{param1};
    </delete>

    <select id="getMethodName" resultType="String">
        select name
        from method
        where idmethod=#{param1};
    </select>

    <select id="getMethodDetailName" resultType="String">
        select type
        from methoddetail
        where detailid=#{param1};
    </select>

    <update id="statusIncrease">
        update `order`
        set status=status+1
        where idorder=#{param1}
    </update>

    <update id="deleteAccount">
        update `order`
        set member_id=null
        where member_id=#{param1};
    </update>

    <delete id="deleteOrder">
        delete
        from `order`
        where orderNum=#{param1}
    </delete>

</mapper>