<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.realtwoweek.Mapper.MemberMapper">
    <select id="getUserid" resultType="Long">
        select member_id
        from member
        where provider = #{param1}
          and email = #{param2}
    </select>

    <select id="getUsername" resultType="String">
        select name
        from member
        where member_id=#{param1};
    </select>

    <select id="CheckEmail" resultType="Integer">
        select count(email)
        from member
        where email=#{param1};
    </select>

    <select id="getPhonenum" resultType="String">
        select phone
        from member
        where member_id=#{param1}
    </select>

    <select id="getZipno" resultType="Integer">
        select zipno
        from member
        where member_id=#{param1}
    </select>

    <select id="getAddress1" resultType="String">
        select address1
        from member
        where member_id=#{param1}
    </select>

    <select id="getAddress2" resultType="String">
        select address2
        from member
        where member_id=#{param1}
    </select>

    <select id="getAddress3" resultType="String">
        select address3
        from member
        where member_id=#{param1}
    </select>

    <select id="getOrderList" resultType="com.example.realtwoweek.vo.OrderVO">
        select *
        from `order`
        where member_id=#{param1}
        order by date desc;
    </select>

    <select id="getOrderDetail" resultType="com.example.realtwoweek.vo.OrderVO">
        select *
        from `order`
        where orderNum=#{param1}
    </select>

    <delete id="deleteAccount">
        delete
        from member
        where member_id=#{param1};
    </delete>

    <select id="getUserInfo" resultType="com.example.realtwoweek.vo.MemberVO">
        select *
        from member
        where member_id=#{param1};
    </select>

    <select id="getUserpwd" resultType="String">
        select password
        from member
        where member_id=#{param1};
    </select>

    <update id="changeInfo">
        update member
        set name=#{name}, password=#{password}, zipno=#{zipno}, address1=#{address1}, address2=#{address2}, address3=#{address3}, phone=#{phone}
        where member_id=#{member_id}
    </update>

</mapper>